---
const personalImageAlt = "Hugo Julian Llanten - Analista diseñador de sistemas";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Un gusto saludarte, me llamo Hugo Julian Llantén, Analista diseñador
      de sistemas. Me especializo en el desarrollo de aplicaciones web, con más
      de 4 años de experiencia
      <strong>
        e estado trabajando en proyectos de desarrollo web, tanto en el
        front-end como en el back-end
      </strong>.
    </p>

    <p>
      Algunos de mis éxitos incluyen
      <strong>
        Colaborar con el desarrollo de un e-commerce para una empresa que funcionaba como exibidora
        de productos en la cual se logró un aumento en las ventas
      </strong>.
      <strong>
        También he trabajado en el desarrollo de un sistema de gestión de
        eventos para sennova en la cual se logró una mejora en la organización
        de los eventos
      </strong>

      <p>
        Ahora como desarrollador independiente,
        <strong>
          Me encuentro trabajando en el desarrollo de una aplicación web para
          dar solución a la gestión de consultorios medicos y Doctor@s
          independientes que nesesitan una herramienta para gestionar sus
          pacientes, consultas, facturación, RIPS, calendario de citas, entre
          otros.
          <em class="italic">
            Para asi poder maximizar el tiempo, la eficiencia en la gestión de
            sus consultorios y labores diarias
          </em>
        </strong>. Mi objetivo es seguir creciendo sobre todo en el desarrollo
        de aplicaciones para poder aportar soluciones a problemas reales, segir
        optimizando el rendimiento de las labores diarias de las personas que
        utilizan los sistemas que desarrollo.
      </p>
    </p>

    <img
      width="200"
      height="200"
      src="/Julian_Llanten.webp"
      alt={personalImageAlt}
      class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
      style="object-position: 50% 50%"
    />
  </div>
</article>
