---
const personalImageAlt = "Hugo Julian Llanten - Analista diseñador de sistemas";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >

    <p>
      ¡Hola! Soy Hugo Julian Llantén, Analista y Desarrollador de Software, 
      apasionado por transformar ideas en soluciones digitales que impulsan negocios y mejoran vidas. 
      Con más de 4 años de experiencia, desarrollo aplicaciones web robustas y escalables, dominando tanto el 
      <strong>FrontEnd como el BackEnd</strong>.
    </p>

    <p>
      He participado en el <strong>desarrollo de un e-commerce que incrementó las ventas de una empresa exhibidora de productos</strong> y <strong>creé un sistema de gestión de eventos para Sennova, optimizando la organización y publicación de sus eventos</strong>.
    </p>

    <p>
      Actualmente, como desarrollador independiente, 
      <strong>estoy creando una aplicación web para consultorios médicos y profesionales de la salud,</strong>
      facilitando la gestión de pacientes, consultas, facturación, RIPS y citas, entre otros.
      <br />
      <em class="italic">
        Mi misión es potenciar la productividad y eficiencia de mis clientes, brindando soluciones tecnológicas a medida que generan resultados reales.
      </em>
      <br />
      ¿Buscas un desarrollador comprometido, creativo y orientado a resultados para tu próximo proyecto? <strong class="text-yellow-500 dark:text-yellow-100">¡Contáctame y llevemos tu idea al siguiente nivel!</strong>
    </p>

    <img
      width="200"
      height="200"
      src="/Julian_Llanten.webp"
      alt={personalImageAlt}
      class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
      style="object-position: 50% 50%"
    />
  </div>
</article>
