---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Frelancer Fullstack Developer",
    company: "Easymed",
    description:
      "Analizo e implemento soluciones para mejorar la experiencia de usuario en la plataforma de EasyMed y en la web de la empresa.",
    link: "https://www.easy-med.co/",
  },
  {
    date: "2021 - 2022",
    title: "Analista de sistemas de información",
    company: "Unico.com.co",
    link: "https://www.unico.com.co/",
    description:
      "Colaboré con el equipo de desarrollo para asegurar una transición sin problemas y una experiencia de usuario optimizada en el sitio web",
  },
  {
    date: "2019 - 2021",
    title: "Desarrollador Fullstack",
    company: "Sennova",
    link: "http://sennova.senaedu.edu.co/SENNOVA_OFICIAL/#LineaProgramatica",
    description:
      "Analize e implemente soluciones para uno de los proyectos de la línea de investigación de Sennova en la cual tenia un backoffice para la gestión de los eventos y su herramienta de registro, también el front-end para la visualización de los eventos y su registro.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
