---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Frelancer Fullstack Developer",
    company: "Easymed",
    description:
      "analizo e implemento soluciones para mejorar la experiencia de usuario en la plataforma de EasyMed y en la web de la empresa.",
    link: "https://www.easy-med.co/",
  },
  {
    date: "2021 - 2022",
    title: "Analista de sistemas de información",
    company: "Unico.com",
    link: "https://www.unico.com.co/",
    description:
      "Analize e implemente soluciones para mejorar el e-commerce de unico.com, especialmente en la parte de la web y el backend.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
