---
const personalImageAlt = "Julian Llanten, Anilista, Dise침ador y desarrollador de Sistemas de Informaci칩n";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
     <picture class="rounded-full shadow-lg object-cover w-16 aspect-4/3"> 
        <img
        class="rounded-full shadow-lg size-16 aspect-3/2"
        src="/julian.avif"
        alt={personalImageAlt}
        />
      </picture>
    <a
      href="https://linkedin.com/in/julianLlanten"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy Julian 游녦
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +4 a침os de experiencia.
   <strong>Analista y dise침ador de sistemas de informaci칩n</strong> de Cali, Colombia.
    Especializado en an치lisis de datos, dise침o y desarrollo de sistemas de informaci칩n.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:llantenjulian8@gmail.com">
      <MailIcon class="size-4" />
      Cont치ctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/julianllanten">
    <LinkedInIcon class="size-4 md:size-6" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
