---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  target="_blank"
  class="inline-flex items-center justify-center gap-2 px-3 py-1.5 text-sm font-medium text-white transition-all duration-200 bg-gray-800 dark:bg-gray-700 border border-gray-600 dark:border-gray-500 rounded-xl hover:bg-gray-700 dark:hover:bg-gray-600 hover:border-yellow-500/50 hover:shadow-sm hover:scale-[1.03] focus:outline-none focus-visible:ring-2 focus-visible:ring-yellow-500/80 focus-visible:ring-offset-2 active:scale-95 max-w-fit"
>
  <slot />
</a>
